<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kemp.demo">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TestDemo"
            android:label="TestDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RecyclerViewDemo"
            android:label="RecyclerViewDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ProcesserDemo"
            android:label="ProcesserDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DesignWidgetDemo"
            android:label="DesignWidgetDemo"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DataBindingDemo"
            android:label="DataBindingDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.Dagger2Demo"
            android:label="Dagger2Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CameraDemo"
            android:label="CameraDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MyDrawDemo"
            android:label="MyDrawDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ServiceDemo"
            android:label="ServiceDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.IPCDemo"
            android:label="IPCDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LaunchModeDemo"
            android:label="LaunchModeDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".launchmode.AActivity"
            android:label="AActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.kemp.demo.launchmode.action" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.kemp.demo.launchmode.AActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".launchmode.BActivity"
            android:label="BActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".launchmode.CActivity"
            android:label="CActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SocketDemo"
            android:label="SocketDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ViewTouchDemo"
            android:label="ViewTouchDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BitmapDemo"
            android:label="BitmapDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RxDemo"
            android:label="RxDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.RefreshListDemo"
            android:label="RefreshListDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WebViewDemo"
            android:label="WebViewDemo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.KeyBoardDemo"
            android:label="KeyBoardDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.OSBuildDemo"
            android:label="OSBuildDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ThreadDemo"
            android:label="ThreadDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.KotlinDemo"
            android:label="KotlinDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LifecycleActivity"
            android:label="LifecycleActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.FragmentDemo"
            android:label="FragmentDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CustomViewDemo"
            android:label="CustomViewDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.kemp.demo.MAIN_ACTIVITY" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SensorScreenDemo" />

        <service
            android:name=".service.MyService"
            android:process=":ipc" />

        <service
            android:name=".socket.SocketService"
            android:process=":socket" />

        <service
            android:name=".service.MessengerService"
            android:process=":messenger" />

        <provider
            android:name=".provider.MyProvider"
            android:authorities="${applicationId}.authMyProvider"
            android:exported="false" />
    </application>

</manifest>